<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>registration</title>
    <link rel="stylesheet" th:href="@{/css/registration.css}">
</head>
<body>
<header>
    <h3>Registartion</h3>
</header>
<main>

    <form method="POST" th:action="@{/registration}" th:object="${registrationForm}" enctype="multipart/form-data"
          id="registerForm">
        <div>
            <label for="Username">Username</label>
            <input type="text" id="Username" required autocomplete="off" name="username">
        </div>
        <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="alert">
            Check your username.
        </span>
        <div>
            <label for="Password">Password</label>
            <input type="password" id="Password" required autocomplete="off" name="password" value=""
                   onkeyup='ValidatePasswords();'>
        </div>
        <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="alert">
            Check your password.
        </span>
        <div>
            <label for="ConfirmPassword">Confirm password</label>
            <input type="password" id="ConfirmPassword" required autocomplete="off" name="confirm" value=""
                   onkeyup='ValidatePasswords();'>
        </div>

        <div class="ConfirmError" id="validation">Passwords should ba same</div>

        <div>
            <label for="FirstName">First name</label>
            <input type="text" id="FirstName" autocomplete="off" name="name">
        </div>
        <div>
            <label for="Surname">Surname</label>
            <input type="text" id="Surname" autocomplete="off" name="surname">
        </div>
        <div>
            <label for="E-mail">E-mail</label>
            <input type="email" id="E-mail" autocomplete="off" name="email">
        </div>
        <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="alert">
            Check your e-mail.
        </span>
        <div>
            <label for="file">Profile photo</label>
            <input type="file" id="file" name="image">
        </div>
        <div>
            <button type="submit">Register</button>
        </div>

    </form>
</main>
<footer></footer>
<script type="text/javascript" th:src="@{/js/registration.js}"></script>
</body>
</html>