<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>ToDo List</title>
  </head>
  
  <body>
    <h1>Register</h1>
    
    <form method="POST" th:action="@{/registration}" enctype="multipart/form-data" id="registerForm">
    
        <label for="username">Username: </label>
        <input type="text" name="username" id="username"/><br/>

        <label for="password">Password: </label>
        <input type="password" name="password" id="password"/><br/>

        <label for="confirm">Confirm password: </label>
        <input type="password" name="confirm" id="confirm"/><br/>

        <label for="name">First name: </label>
        <input type="text" name="name" id="name"/><br/>

        <label for="surname">Last name: </label>
        <input type="text" name="surname" id="surname"/><br/>
    
        <label for="email">email: </label>
        <input type="text" name="email" id="email"/><br/>

        <label for="image">Image: </label>
        <input type="file" name="image" id="image"/><br/>
    
        <input type="submit" value="Register"/>
    </form>
    
  </body>
</html>